.profile-card {
  width: 300px;
  height: 400px;
  padding: 20px;
  margin: auto;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(17, 26, 150, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}


.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* object-fit: cover;
  display: block;
  margin-bottom: 18px;
  margin-top: 0; */
}


.profile-card h2 {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-weight: bold;
}

.profile-card p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: #444;
}
